<!DOCTYPE html>
<html>
  <head>
    <title>My Main Webpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add the Bootstrap icons library -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Main Page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>  
    </nav>
    <div class="container mt-3">
      <h1>Main Page</h1>
      <p>Click on any option to proceed with :</p>
      <div class="row">
        <div class="col-md-3">
          <!-- <button type="button" href="www.google.com" class="btn btn-primary btn-lg btn-block">Button 1</button> -->
          <a href="/webapp" class="btn btn-primary btn-lg btn-block"><i class="bi bi-globe2"></i> Web App</a>

        </div>
        <div class="col-md-3">
          <!-- <button type="button" class="btn btn-secondary btn-lg btn-block">Android</button> -->
          <a href="/firebase" class="btn btn-secondary btn-lg btn-block"> <i class="bi bi-phone"></i>  Android</a>
        </div>
        <div class="col-md-3">
          <!-- <button type="button" class="btn btn- btn-lg btn-block">IOS</button> -->
          <a href="/ios" class="btn btn-success btn-lg btn-block"><i class="bi bi-tablet"></i> IOS</a>
        </div><br />
        <div class="col-md-3">
          <!-- <button type="button" class="btn btn- btn-lg btn-block">Testing</button> -->
          <a href="/test" class="btn btn-danger btn-lg btn-block"><i class="bi bi-speedometer"></i>  Testing</a>
        </div>
      </div>
    </div>
  </body>
</html>
